{# -----------------------------------------------}

{------------------------------------------------#}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=2"/>
  <meta name="keywords" content="{{keywords}}" />
  <title>{{title}}</title>

  <link rel="shortcut icon" href="/static/img/favicon.ico"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Happy+Monkey&family=IM+Fell+DW+Pica:ital@0;1&family=Marmelad&family=Varela+Round&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script type="module" src="/static/js/script.core.js"></script>

  <link rel="stylesheet" href="/static/css/style.min2.css" type="text/css" />

</head>
<body>
    <div id="pageDiv">
        {% block header %}{% endblock %}
        <div id="mainDiv" class="flexBox">
            <div id="flexCol_L"></div>
            <div id="flexCol_C">
                <section id="contentSection">
                    {% block article %}{% endblock %}
                </section>
            </div>
            <div id="flexCol_R"></div>
        </div>
        {% block footer %}{% endblock %}
    </div>
</body>
</html>
