{# --------------------------------------------------}
    // $email = F::json("config", "contactEmail");
    // $hemail = str_replace("@", " [@] ", $email);
    <p>Or use the form below:</p>

                <div id="sendBtn" class="fBtn" taxindex="3">SEND</div>

{---------------------------------------------------#}

<section id="contactSection">

    <article id="contactArticle">

        <h1>Contact Us</h1>

        <section id="textSection">
            <p>Say hello.</p>
            <p id="emaillink">Email: <a tabindex="-1" href="mailto:{{email}}">{{email_name}}</a></p>
        </section>

        <section id="formSection">
            {#our sent message goes here #}
            <p></p>

            <div id="msgForm">
                {# inside will slideup after message is sent #}
                <input id="nameField" name="nameField" type="text" maxlength="100" value="" placeholder="YOUR NAME" spellcheck="false" autofocus required taxindex="0">
                <input id="emailField" name="emailField" type="email" maxlength="100" value="" placeholder="YOUR EMAIL" spellcheck="false" required taxindex="1">
                <textarea id="msgField" name="msgField" value="" placeholder="YOUR MESSAGE" spellcheck="true" required taxindex="2"></textarea>
                <button type="button" id="sendBtn" class="fBtn" taxindex="3">SEND</button>
            </div>
        </section>

    </article>

</section>



