{#-------------------------------------}

  $link = "https://hmso.inkonpages.com/book/theswines/";

{-------------------------------------#}

<footer>
    <footer id="footer">
        <div id="footerTagline">
            <span><a href="{{link}}">THE SWINES: Anecdotes Of A Piggly Family by H.M. So</a></span>
        </div>
    </footer>
</footer>