{#-------------------------------------}

  $link = "https://hmso.inkonpages.com/book/theswines/";

{-------------------------------------#}

<footer id="footer">
    <div id="footerTagline">
        <span><a tabindex="-1" href="https://hmso.inkonpages.com">THE SWINES: Anecdotes Of A Piggly Family by H.M. So</a></span>
    </div>
</footer>
