{#---------------------------------------}

{---------------------------------------#}


<section id="homeSection">
    <article id="homeArticle">

        <h1>Inkonpages Press</h1>

        <div id="containerDiv">

            <section id="bestsellerSection">
                 <div id="bestsellerDiv"><a href="rank/bestseller/fiction/">IP Bestsellers Fiction & NonFiction</a></div>
                 <div id="dateDiv">For {{today}}</div>
            </section>


            //The Swines book cover
            <div id="swinesImgDiv"><a href="https://hmso.inkonpages.com/" title="The Swines: Anecdotes Of A Piggly Family"><img src="https://hmso.inkonpages.com/upub/media/swines_front_cover.png" alt="The Swines: Anecdotes Of A Piggly Family by H.M. So" /></a></div>

        </div>

    </article>
</section>"
