{# --------------------------------------------- }

## Fiction and NonFiction IPBRank

$category = strtoupper($arr[0]["CATEGORY"]);

$tabArr["fiction"] = $category === "FICTION" ? "selectedtab" : "";
$tabArr["nonfiction"] = $category === "NONFICTION" ? "selectedtab" : "";

$today = F::dateToStdL( time() );

url_page = self.url_page,
db_result = self.db_result,

        <h1>IP Bestsellers for $category</h1>
        <h1>{{title}}Most Popular Books of ALL TIME</h1>

{ --------------------------------------------- #}

<section id="rankSection">
    <article id="rankArticle">

        <h1>{{title}}</h1>
        <h2>{{today}}</h2>
        <h3>{{ tagline }}</h3>

        {## $this->doRankTabs($tabArr)
        ## {% include 'RankTabs.jinja' %}    XXX SAME #}
        <div id="categoryTabDiv">
            <a href="/rank/bestseller/fiction/" class="{{fictiontabstatus}}" id="fictionTabDiv">Fiction</a>
            <a href="/rank/bestseller/nonfiction/"  class="{{nonfictiontabstatus}}" id="nonfictionTabDiv">NonFiction</a>
            <a href="/rank/alltime/" class="{{alltimetabstatus}}" id="alltimeTabDiv">All Time</a>
        </div>

        {#
          0       1     2          3
        TITLE, AUTHOR, IMGURL, AMAZONURL

        {% if "error" in RepoOutput[RepoName.index(repo)] %}
            <td id="error"> {{ RepoOutput[RepoName.index(repo)] }} </td>
        {% elif "Already" in RepoOutput[RepoName.index(repo)] %}
            <td id="good"> {{ RepoOutput[RepoName.index(repo)] }} </td>
        {% else %}
            <td id="error"> {{ RepoOutput[RepoName.index(repo)] }} </td>
        {% endif %}

        #}


        {% for i in range(db_result|length) %}

            <div class="bookcellDiv">
                <div class="bookcellInnerDiv">
                    <div class="rankDiv">{{i+1}}</div>
                    <figure><a href="{{ db_result[i][3] }}" target="_blank" rel="nofollow"><img src="{{ db_result[i][2] }}" alt="{{ db_result[i][0] }}"></a></figure>
                    <div class="textboxDiv">
                        <div class="titleDiv"><a href="{{ db_result[i][3] }}" target="_blank" rel="nofollow">{{ db_result[i][0] }}</a></div>

                        {% if db_result[i][1] %}
                            <div class="authorDiv">By {{ db_result[i][1] }}</div>
                        {% endif %}

                    </div>
                </div>
            </div>

        {% endfor %}


    </article>
</section>


