

{#
  0       1     2          3
TITLE, AUTHOR, IMGURL, AMAZONURL

{% if "error" in RepoOutput[RepoName.index(repo)] %}
    <td id="error"> {{ RepoOutput[RepoName.index(repo)] }} </td>
{% elif "Already" in RepoOutput[RepoName.index(repo)] %}
    <td id="good"> {{ RepoOutput[RepoName.index(repo)] }} </td>
{% else %}
    <td id="error"> {{ RepoOutput[RepoName.index(repo)] }} </td>
{% endif %}

  # Set variable??
  {% set link = db_result[i][2] %}
  {% if link == "" %}
  {% set link = "https://www.amazon.com/s?k=" + db_result[i][0] %}
  {% endif %}

#}

{% for i in range(db_result|length) %}


    <div class="bookcellDiv">
        <div class="bookcellInnerDiv">
            <div class="rankDiv">{{i+1}}</div>
            <figure><a href="{{ db_result[i][3] }}" target="_blank" rel="nofollow"><img src="{{ db_result[i][2] }}" alt="{{ db_result[i][0] }}"></a></figure>
            <div class="textboxDiv">
                <div class="titleDiv"><a href="{{ db_result[i][3] }}" target="_blank" rel="nofollow">{{ db_result[i][0] }}</a></div>

                {% if db_result[i][1] %}
                    <div class="authorDiv">By {{ db_result[i][1] }}</div>
                {% endif %}

            </div>
        </div>
    </div>

{% endfor %}